[user]
	mail = lucas.mas@mobile.club
	name = Lucas Mas
	email = lucas.mas@mobile.club
[credential]
	helper = store
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
