@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px;
  margin-left: 1rem;
}

#workspaces button {
  color: @blue;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#tray,
#clock,
#battery,
#pulseaudio,
#idle_inhibitor {
  background-color: @surface0;
  opacity: 0.8;
  padding: 5px 8px;
  margin: 5px 0px;
}

#clock {
  color: @blue;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 5px 20px;
}

#battery {
  color: @green;
  margin-right: 1rem;
  padding-right: 20px;
  border-radius: 0px 1rem 1rem 0px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#idle_inhibitor {
  color: @lavender;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
  padding-left: 20px;
}

#pulseaudio {
  color: @rosewater;
}

#pulseaudio:hover {
  background-color: #a37800;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
